<a href="https://colab.research.google.com/github/Naga-Himaja/Python/blob/Minor-coding-problems/Funtions_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Table of n

In [ ]:
n = int(input("Enter a number : "))
for i in range (1,11):
    print(i*n)

Enter a number : 5
5
10
15
20
25
30
35
40
45
50

# Sum of n natural numbers

In [ ]:
def sum_n(n):
    return(n*(n+1)/2)
num = int(input("Enter a number : "))
sum = sum_n(num)
print("The sum of first {} natural numbers is {}".format(n,sum))

Enter a number : 10
The sum of first 5 natural numbers is 55.0

# Factorial of a number

In [ ]:
def factorial(n):
    if (n == 1):
        return n
    else:
        return(n*factorial(n-1))
num = int(input("Enter a number : "))
fact = factorial(n)
print("The factorial of {} is {}".format(num,fact))

Enter a number : 5
The factorial of 5 is 120