<a href="https://colab.research.google.com/github/Naga-Himaja/Python/blob/Data-Science/News_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import nltk

In [71]:
#nltk.download()

In [67]:
import pandas as pd

In [72]:
fake = pd.read_csv("/content/Fake-211023-185413.csv")
genuine = pd.read_csv("/content/True-211023-185340.csv")

In [73]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [74]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [75]:
display(genuine.head())

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [76]:
display(fake.head())

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [77]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [78]:
fake['target'] = 0
genuine['target'] = 1

In [79]:
display(genuine.head(10))

                                               title  ... target
0  As U.S. budget fight looms, Republicans flip t...  ...      1
1  U.S. military to accept transgender recruits o...  ...      1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...      1
3  FBI Russia probe helped by Australian diplomat...  ...      1
4  Trump wants Postal Service to charge 'much mor...  ...      1
5  White House, Congress prepare for talks on spe...  ...      1
6  Trump says Russia probe will be fair, but time...  ...      1
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...      1
8         Trump on Twitter (Dec 28) - Global Warming  ...      1
9  Alabama official to certify Senator-elect Jone...  ...      1

[10 rows x 5 columns]

In [80]:
display(fake.head(10))

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0
5   Racist Alabama Cops Brutalize Black Boy While...  ...      0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...      0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...      0
8   Former CIA Director Slams Trump Over UN Bully...  ...      0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...      0

[10 rows x 5 columns]

In [81]:
data = pd.concat([fake,genuine],axis = 0)

In [82]:
data = data.reset_index(drop=True)

In [83]:
data = data.drop(['subject','date','title'],axis = 1)

In [84]:
print(data.columns)

Index(['text', 'target'], dtype='object')

TOKENIZATION

In [85]:
from nltk.tokenize import word_tokenize

In [86]:
data['text'] = data['text'].apply(word_tokenize)

In [87]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

STEMMING

In [88]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [89]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [91]:
data['text'] = data['text'].apply(stem_it)

In [92]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

STOPWORD REMOVAL

In [ ]:
#import nltk
#from nltk.corpus import stopwords
#nltk.download('stopwords')
#print(stopwords_words('english'))

In [93]:
def stop_it(t):
  dt = [word for word in t if len(word)>2]
  return dt

In [94]:
data['text'] = data['text'].apply(stop_it)

In [95]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [96]:
data['text'] = data['text'].apply(' '.join)

SPLITTING

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'],test_size=0.25)
display(X_train.head())
print("\n")
display(y_train.head())

6185     women especi women the public eye are the cons...
21287    updat blacklivesmatt protest plannedchicago ha...
35199    mogadishu reuter some somali lawmak said wedne...
32019    washington reuter u.s. hous speaker paul ryan ...
36977    tokyo reuter japan coast guard thursday board ...
Name: text, dtype: object

6185     0
21287    0
35199    1
32019    1
36977    1
Name: target, dtype: int64

VECTORIZATION

In [99]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [101]:
print(tfidf_train)

  (0, 34703)	0.033722297114122855
  (0, 13553)	0.09554194870824513
  (0, 16316)	0.053193044454118855
  (0, 40943)	0.04941023444778775
  (0, 31362)	0.025980523866500144
  (0, 26835)	0.03437996843495208
  (0, 88454)	0.0606145556465638
  (0, 15310)	0.08645373837713405
  (0, 70027)	0.022189669425740802
  (0, 37909)	0.013743802750051841
  (0, 81363)	0.01606286754166191
  (0, 24425)	0.029699617823018318
  (0, 74865)	0.023588031857143806
  (0, 35037)	0.045999568100660866
  (0, 55152)	0.04921005569135948
  (0, 70581)	0.03537538334164365
  (0, 30244)	0.06027830382008354
  (0, 74209)	0.09047533551462401
  (0, 74836)	0.035667296080882246
  (0, 59233)	0.03326856616022308
  (0, 75566)	0.05207890979810504
  (0, 89724)	0.02737404105283289
  (0, 66135)	0.04823803276359892
  (0, 74205)	0.04921005569135948
  (0, 24066)	0.05388726232028972
  :	:
  (33672, 62959)	0.22138571793479392
  (33672, 41791)	0.15197322195680493
  (33672, 55805)	0.29394270850578186
  (33672, 24900)	0.3333545262914506
  (33672, 18024)	0.13345360087043986
  (33672, 21285)	0.136472632658444
  (33672, 27345)	0.16270581989346153
  (33672, 53319)	0.08480061038826937
  (33672, 73453)	0.10135379515772179
  (33672, 13071)	0.10343054633953273
  (33672, 7688)	0.09305471693048113
  (33672, 20246)	0.09579046034828163
  (33672, 13744)	0.08738996817478681
  (33672, 81653)	0.08882531433887769
  (33672, 82260)	0.06517489810603608
  (33672, 46845)	0.10291205464514082
  (33672, 69636)	0.05416728250507565
  (33672, 42242)	0.0661427614790727
  (33672, 88714)	0.059916492186318906
  (33672, 37909)	0.043324815601114924
  (33672, 63140)	0.057722692601186294
  (33672, 81528)	0.09966194010703293
  (33672, 59205)	0.04329888271721686
  (33672, 64579)	0.19644497470465608
  (33672, 10801)	0.04732825707066972

LOGISTIC REGRESSION

In [105]:
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [106]:
model_1 = LogisticRegression(max_iter= 900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.83296213808464

PASSIVE AGGRESSIVE CLASSIFIER

In [107]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [108]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print("The accuracy of prediction is ", accscore*100)

The accuracy of prediction is  99.64365256124722